@model ClientConsuming.Models.UserService

@{
    ViewData["Title"] = "GetUserDetails";
}

<h1>GetUserDetails</h1>

<div>
    <h4>UserService</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phoneno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phoneno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specialization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specialization)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aadhaarno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aadhaarno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Experience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Costperhour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Costperhour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
    </dl>
</div>
<div>
    <button id="my-button" onclick="location.href='@Url.Action( "BookService","Booking" ,new { id = Model.Usid ,cost=Model.Costperhour}, null)'">Book Service Provider</button>
@*    @Html.ActionLink("Edit", "GetUserDetails", "UserService" ) |*@
    <a asp-action="Index">Back to List</a>
</div>
